<html><body>
		<!--<a href="logon">logon</a> -->
		<form method="post" action="/logon">
			<input type="text" name="username">
			<input type="password" name="password">
			<input type="submit" value="logon">
		</form>

</html></body>
